/******************************
Nugget Post
******************************/
.nugget-selected {
  margin-bottom: 75px !important;
}
.nugget-post-selection {
  margin-bottom: 20px !important;
}
.nugget-post-select {
  cursor: pointer;
}
.nugget-post-selected {
  background: #A6C3FE;
}
.nugget-post {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 10px;
  margin: 10px 10px 25px 10px;
}
.nugget-post:hover {
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}
.nugget-post .description {
  max-height: 190px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #ddd white;
  margin-bottom: 25px;
}
.nugget-post .description::-webkit-scrollbar-thumb {
  background-color: none;    /* color of the scroll thumb */
  border: none;  /* creates padding around scroll thumb */
}

.nugget-buttons {
  position: absolute;
  right: 30px;
  bottom: 0px;
}
.nugget-button {
  margin-right: 5px !important;
}
/* Load more nugget */
.show-more-nugget {
  margin-left: 25px;
  margin-bottom: 20px;
}
.show-more-nugget-button:focus {
  outline: none !important;
  box-shadow: none !important;
}


/******************************
Modal style
******************************/
.modal-fade-enter,
.modal-fade-leave-to {
  opacity: 0;
}
.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity .3s ease;
}
.nugget-modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.nugget-modal {
  font-family: Open Sans, proxima-nova, nunito, Arial, sans-serif;
  max-height: 90%;
  width: 70%;
  max-width: 1140px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #FFFFFF;
  box-shadow: 2px 2px 20px 1px;
  border-radius: 5px;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.nugget-modal h2, .nugget-modal h3 {
  font-family: Open Sans Condensed, Open Sans, proxima-nova, nunito, Arial, sans-serif;
}
@media (max-width: 1250px) {
  .nugget-modal {
    max-height: 75%;
    width: 75%;
  }
}
.nugget-modal-header h2 {
  padding: 20px 0px 15px 30px;
}
.nugget-modal-body {
  padding-bottom: 15px;
}
.nugget-modal-footer {
  padding: 10px;
}
.btn-close {
  position: relative;
  float: right;
  padding: 15px;
  top: -10px;
  color: #999;
  font-size: 24px;
  font-weight: bold;
  border: none;
  background: transparent;
}
.metadata-field {
  margin: 0 15px !important;
}
.metadata-list {
  list-style: none;
  padding-left: 5px;
}
.metadata-list-item {
  margin-left: 30px;
}
.metadata-list-item .badge {
  white-space: normal;
  max-width: 90%;
}
.nugget-view {
  margin: 0 !important;
  padding: 0 !important;
}
#nugget-preview-modal {
  height: 85%;
}
#nugget-preview-modal .nugget-modal-body {
  height: 85%;
}
.preview-iframe {
  border: none !important;
}

/******************************
Aggregations
******************************/
div.filters {
    float: left;
    width: 200px;
    margin-left: 40px;
  }
div.filters-inner {
  background-color: white;
  display: table-cell;
  padding: 10px;
  margin-bottom: 10px;
}
div.separator {
  height: 15px;
}
.filters-title {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 0px
}
a.aggregation-title {
  color: #000000;
  font-weight: 400;
}
a.aggregation-title:hover {
  text-decoration: none;
}

.hide-authors {
  display: none;
}
.show-more {
  margin-left: 10px;
}
.clear-filters {
  font-size: 13px;
  margin-top: 15px;
}

/******************************
facets badge
******************************/
.badge-margin {
  margin: 1px;
}


/******************************
facets tree-view
******************************/
.related-domains-list {
  margin: 0;
  padding: 0;
}
.related-domains-list-element {
  list-style-type: none;
}

/* Style the caret */
.tree-view-caret {
  cursor: pointer;
  user-select: none;
}
.tree-view-caret::after {
  content: "\25BC";
  color: black;
  display: inline-block;
  margin-right: 6px;
  transform: rotate(-90deg);
}
.tree-view-caret-down::after {
  transform: rotate(0deg);
}


/******************************
Completion modal
******************************/
#completion-modal-button button {
  padding: 10px 30px;
  margin: 30px;
}
.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  height: 40px;
  margin-bottom: 0px;
}
.star {
  color: lightgrey;
  padding: 0px 4px;
}
.star i {
  font-size: 32px;
}
.star:hover,
.star:hover ~ .star {
  color: orange;
}
.star.checked,
.star.checked ~ span {
  color: orange;
}
.rating-description {
  color: #999; 
  font-size: 14px;
  margin: 10px 0px;
}
.finish-learning-outcomes {
  margin: 50px 0px;
}
.finish-learning-outcomes span {
  display: block;
}


/******************************
Other style
******************************/
.course-button {
  margin: 0px 18px !important;
  height: 40px;
}
.course-button a {
  float: right;
}
.search-center {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left:10px;
  border: 1px solid;
}
.md-layout {
  margin: 0;
}
.btn-modify {
  margin-left: 10px;
}
.nugget-display {
  width: 100%;
}

.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}

/* Logo fix (for Moodle 4) */
:root {
  --activityother: #399be2;
}

/* Fix for Boost theme (Moodle 3) */
#nav-drawer {
  z-index: inherit !important;
}
