.path-mod-url .resourcecontent {
    text-align: center;
}

.nugget-display {
  width: 100%;
}

.nugget-post {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 10px;
  margin: 10px;
}

.nugget-post:hover {
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}

.card-selected {
  background: #A6C3FE;
}

.search_center {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left:10px;
  border: 1px solid;
}
div.filters {
    float: left;
    width: 200 px;
    margin-left: 40 px;
  }
div.filters-inner {
  background-color: white;
  display: table-cell;
  padding: 10 px;
  margin-bottom: 10 px;
}
div.separator {
  height: 15 px;
}

.clear-filters {
  font-size: 13 px;
  margin-top: 15 px;
}

.md-layout {
  margin-left: 0 px;
  margin-right: 0 px;
}
a.aggregation-title {
  color: #000000;
  font-weight: 400;
}
a.aggregation-title:hover {
  text-decoration: none;
}


/* Detail and Preview Modal */
.modal-fade-enter,
.modal-fade-leave-to {
  opacity: 0;
}
.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity .3s ease;
}
.nugget-modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.nugget-modal {
  overflow-x: auto;
  display: flex;
  height: 50%;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #FFFFFF;
  box-shadow: 2px 2px 20px 1px;
  border-radius: 5px;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
@media (max-width: 1250px) {
  .nugget-modal {
    height: 75%;
    width: 75%;
  }
}
.nugget-modal-header {
  padding: 15px 15px 0 15px;
  display: flex;
  border-bottom: 1px solid #eeeeee;
  justify-content: space-between;
  position: relative;
}
.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  color: #999999;
  background: transparent;
}
.nugget-modal-body {
  overflow-y: auto;
  position: relative;
  padding: 0;
}
.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}
