{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_naas/naas_widget

    Template for displaying the NAAS widget.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * widgetconfig - JSON configuration for the widget
    * widgetjsurl - URL to the widget JavaScript file

    Example context (json):
    {
        "widgetconfig": "{\"moodle_url\":\"https://example.com\",\"mount_point\":\"#naas_widget\",\"component\":\"NuggetView\",\"nugget_id\":\"123\"}",
        "widgetjsurl": "https://example.com/mod/naas/assets/vue/naas_widget-232.js"
    }
}}
<div id="naas_widget"></div>
<script>NAAS={{{widgetconfig}}}</script>
<script src="{{widgetjsurl}}"></script> 