{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_naas/naas_widget

    The mount point for the NaaS Vue widget.

    * configjson (string) - JSON encoded configuration for the widget
}}
<script>
    window.NAAS = {{{configjson}}};
</script>

<div id="naas_widget"></div>

<script src="{{moodle_url}}/mod/naas/assets/vue/naas_widget-2026030300.js"></script>
