{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_naas/widget

    Template for the NaaS widget.

    Example context (json):
    {
        "config": "{\"moodle_url\":\"https://moodle.example.com\",\"mount_point\":\"#naas_widget\",\"component\":\"mod_naas\",\"nugget_id\":123,\"courseId\":5,\"cm_id\":15,\"labels\":{\"search\":\"Search\"} }",
        "widgetjsurl": "https://moodle.example.com/mod/naas/assets/vue/naas_widget-2026030300.js"
    }
}}
<div id="naas_widget"></div>
<script>
    window.NAAS = {{{config}}};
</script>
{{#js}}
require(['core/first', '{{{widgetjsurl}}}'], function() {
    // Le script du widget est chargé.
});
{{/js}}
